<div class="col-md-4 col-sm-6 product-item">
  <div class="thumbnail">
        <%= image_tag product.photo, class: 'img-responsive' %>
        <div class="caption">
            <h4>
            <%= link_to product.name, product_path(product) %>
            </h4>
        </div>
        <div class="actions">
        	<%= link_to "Add to meal", new_product_order_path(product), class: "btn btn-warning pull-xs-right" %>
        	<h4><%= number_to_currency(product.price, :locale => :vi) %></h4>
        </div>
        <div class="ratings">
            <p class="pull-xs-right"><%= product.views %> views</p>
            <p> &nbsp;</p>
        </div>
    </div>
</div>